header {
  background: linear-gradient(
    90deg,
    rgba(91, 33, 244, 0.28),
    rgba(26, 108, 246, 0.22)
  );
  color: #fff;
  width: 100%;
  margin-bottom: -6%;
  /* Isso faz o header ficar fixo no topo ao rolar */
  position: fixed;

  z-index: 100; /* Garante que fique acima de tudo */
  backdrop-filter: blur(10px); /* Opcional: deixa mais moderno (efeito vidro) */
  -webkit-backdrop-filter: blur(10px);
}

.cabecalho {   /* ou header se preferir usar a tag */
  background: linear-gradient(
    90deg,
    rgba(91, 33, 244, 0.35),
    rgba(26, 108, 246, 0.28)
  );
  padding: 1.2rem 0;
  width: 100%;

  position: sticky;
  top: 0;
  z-index: 1000;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.35);
}

.logo {
  width: 15%;
  height: 15%;
  object-fit: contain;
}

.nav {
  display: flex;
  text-align: left;
  align-items: left;
  margin-right: 2%;
}

.nav a {
  margin-left: 10px;
  font-size: 1.1em;
  text-decoration: none;
  color: white;
  font-family: "Syne";
}

.container-header {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
